<h2>ComplimentMe</h2>
<p>
  I need a bit of cheering up. Post nice messages!
</p>

<form>
  Message Body:<br />
  <input type="text" name="body" placeholder="Type a message" />
  <br />
  From:<br />
  <input type="text" name="from" placeholder="Your Name" />
  <br />
  <input type="submit" />
</form>

